<!-- MapServer Template -->
<!DOCTYPE html>
<html>
<head>
	<title>Conoco el mundo</title>
</head>
<body>

 [resultset layer=gadm]
    <table>
      <caption>GADM</caption>
      <thead>
       
      </thead>
   [feature]
       <tr>
        <th>[[name_0]]</th>
        <td>
          <table>
            <tr>
            </tr>
            <tr>
              <td>id_1</td>
            </tr>
            <tr>
              <td>name_1</td>
            </tr>
            <tr>
              <td>varname_1</td>
            </tr>
            <tr>
              <td>hasc_1</td>
            </tr>
            <tr>
              <td>type_1</td>
            </tr>
            <tr>
              <td>engtype_1</td>
            </tr>
          </table>
        </td><!-- country -->
        <td>
          <table>
            <tr>
              <td>[id_1]</td>
            </tr>
            <tr>
              <td>[name_1]</td>
            </tr>
            <tr>
              <td>[varname_1]</td>
            </tr>
            <tr>
              <td>[hasc_1]</td>
            </tr>
            <tr>
              <td>[type_1]</td>
            </tr>
            <tr>
              <td>[engtype_1]</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>[id_2]</td>
            </tr>
            <tr>
              <td>[name_2]</td>
            </tr>
            <tr>
              <td>[varname_2]</td>
            </tr>
            <tr>
              <td>[hasc_2]</td>
            </tr>
            <tr>
              <td>[type_2]</td>
            </tr>
            <tr>
              <td>[engtype_2]</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>[id_3]</td>
            </tr>
            <tr>
              <td>[name_3]</td>
            </tr>
            <tr>
              <td>[varname_3]</td>
            </tr>
            <tr>
              <td>[hasc_3]</td>
            </tr>
            <tr>
              <td>[type_3]</td>
            </tr>
            <tr>
              <td>[engtype_3]</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>[id_4]</td>
            </tr>
            <tr>
              <td>[name_4]</td>
            </tr>
            <tr>
              <td>[varname_4]</td>
            </tr>
            <tr>
              <td>[hasc_4]</td>
            </tr>
            <tr>
              <td>[type_4]</td>
            </tr>
            <tr>
              <td>[engtype_4]</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>[id_5]</td>
            </tr>
            <tr>
              <td>[name_5]</td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td>[type_5]</td>
            </tr>
            <tr>
              <td>[engtype_5]</td>
            </tr>
          </table>
        </td>
        <td>
          <p>JOINS</p>

        </td>
      </tr>
   [/feature]
   </table>
  [/resultset]

</body>
</html>